.root-form {
  /* width: 80%; */
  margin: 225px auto;
  width: 400px;
}

section {
  background-color: #fff;
  /* margin: 125px auto; */
}

h4 {
  font-size: 1.5rem;
  color: #5f5c5c;
}

.widget {
  padding: 2rem 2rem;
}
